<div class="container-home">
  <div class="container-body">
    <div class="header">
      <h1>MARS ROVERS</h1>
      <h2>Select your mars rover fom the sidebar</h2>
    </div>
    <div class="cards">
      <div class="card">
        <div class="card-header">Curiosity</div>
        <div class="card-image">
          <a class="card-image" routerLink="/curiosity"
            ><img
              class="rover-image"
              src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia23378-16.jpg"
          /></a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Opportunity</div>
        <div class="card-image">
          <a class="card-image" routerLink="/opportunity">
            <img
              class="rover-image"
              src="https://upload.wikimedia.org/wikipedia/commons/d/d8/NASA_Mars_Rover.jpg"
            />
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Spirit</div>
        <div class="card-image">
          <a class="card-image" routerLink="/spirit">
            <img
              class="rover-image"
              src="https://solarsystem.nasa.gov/system/content_pages/main_images/1068_rover2-1.jpg"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
